<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Administrar Sitio</h4>
                        <p class="card-category">Registrar la información del sitio</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" placeholder="Nombre" 
                                             formControlName="formControlNombre"
                                            autocomplete="nope" [(ngModel)]="model.nombre" 
                                            >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" placeholder="Categoría"
                                            [formControl]="formControlSitioCategoria"
                                            formControlName="formControlSitioCategoria"
                                            [matAutocomplete]="idSitioCategoriaAutoComplete">
                                        <mat-autocomplete #idSitioCategoriaAutoComplete="matAutocomplete"
                                            [displayWith]="seleccionarSitioCategoria"
                                            (optionSelected)="seleccionarItemCategoria($event)">
                                            <mat-option *ngFor="let sitioCategoria of sitiosCategoriasFiltradas | async"
                                                [value]="sitioCategoria">
                                                {{ sitioCategoria.nombre }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngIf="this.model.categoria === null">
                                            Debe seleccionar un valor
                                        </mat-error>
                                        <!--  <mat-error
                                            *ngIf="form.controls['formControlSitioCategoria'].hasError('incorrect')">
                                            Por favor seleccione un elemento de la lista
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <input type="text" placeholder="Empresa" matInput
                                            [formControl]="formControlSitioEmpresa"
                                            formControlName="formControlSitioEmpresa"
                                            [matAutocomplete]="idSitioEmpresaAutoComplete">
                                        <mat-autocomplete #idSitioEmpresaAutoComplete="matAutocomplete"
                                            [displayWith]="seleccionarSitioEmpresa"
                                            (optionSelected)="seleccionarItemEmpresa($event)">
                                            <mat-option *ngFor="let sitioEmpresa of sitiosEmpresasFiltradas | async"
                                                [value]="sitioEmpresa">
                                                {{ sitioEmpresa.nombre }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngIf="this.model.empresa === null">
                                            Debe seleccionar un valor
                                        </mat-error>
                                        <!--   <mat-error
                                            *ngIf="form.controls['formControlSitioEmpresa'].hasError('required')">
                                            Debe seleccionar un valor
                                        </mat-error>
                                        <mat-error
                                            *ngIf="form.controls['formControlSitioEmpresa'].hasError('incorrect')">
                                            Por favor seleccione un elemento de la lista
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <input type="text" placeholder="Departamento" matInput
                                            [formControl]="formControlDepartamento"
                                            formControlName="formControlDepartamento"
                                            [matAutocomplete]="idDepartamentoAutoComplete">
                                        <mat-autocomplete #idDepartamentoAutoComplete="matAutocomplete"
                                            [displayWith]="seleccionarDepartamento"
                                            (optionSelected)="cargarCiudades($event)">
                                            <mat-option *ngFor="let departamento of departamentosFiltrados | async"
                                                [value]="departamento">
                                                {{ departamento.nombre }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <!-- <mat-error
                                            *ngIf="form.controls['formControlDepartamento'].hasError('required')">
                                            Debe seleccionar un valor
                                        </mat-error>

                                        <mat-error
                                            *ngIf="form.controls['formControlDepartamento'].hasError('incorrect')">
                                            Por favor seleccione un elemento de la lista
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <input type="text" placeholder="Ciudad" matInput
                                            [formControl]="formControlCiudad" autocomplete="nope"
                                            [matAutocomplete]="idCiudadAutoComplete">
                                        <mat-autocomplete #idCiudadAutoComplete="matAutocomplete"
                                            [displayWith]="seleccionarCiudad"
                                            (optionSelected)="seleccionarItemCiudad($event)">
                                            <mat-option *ngFor="let ciudad of ciudadesFiltradas | async"
                                                [value]="ciudad">
                                                {{ ciudad.nombre }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngIf="this.model.municipio === null">
                                            Debe seleccionar un valor
                                        </mat-error>

                                        <!--   <mat-error *ngIf="form.controls['formControlCiudad'].hasError('required')">
                                            Debe seleccionar un valor
                                        </mat-error>
                                        <mat-error *ngIf="form.controls['formControlCiudad'].hasError('incorrect')">
                                            Por favor seleccione un elemento de la lista
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Dirección" type="text" id="direccion"
                                            name="direccion" autocomplete="nope" [(ngModel)]="model.direccion"
                                            #direccion="ngModel" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Teléfono" type="text" id="telefono" name="telefono"
                                            autocomplete="nope" [(ngModel)]="model.telefono" #telefono="ngModel"
                                            [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Correo electrónico" type="email" id="correo"
                                            name="correo" autocomplete="nope" [(ngModel)]="model.correo"
                                            #correo="ngModel" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="URL de Sitio Web" type="url" id="URLWeb"
                                            name="URLWeb" autocomplete="nope" [(ngModel)]="model.URLWeb"
                                            #URLWeb="ngModel" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="URL de Contacto" type="url" id="URLContacto"
                                            name="URLContacto" autocomplete="nope" [(ngModel)]="model.URLContacto"
                                            #URLContacto="ngModel" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="URL Relacionada" type="url" id="URLRelacionada"
                                            name="URLRelacionada" autocomplete="nope" [(ngModel)]="model.URLRelacionada"
                                            #URLRelacionada="ngModel" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m8 s8 file-field input-field">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="seleccionar archivo" type="text" id="nombreArchivo"
                                            name="nombreArchivo" autocomplete="nope" [(ngModel)]="model.urlImagen"
                                            #nombreArchivo="ngModel" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>

                                </div>
                                <div class="col m4 s4 file-field input-field">
                                    <label class="custom-file-upload">
                                        <input type="file" (change)="eventoSeleccionarArchivo($event)"
                                            accept="image/*" />
                                        Seleccionar archivo
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-tabs card-header-warning">
                                            <div class="nav-tabs-navigation">
                                                <div class="nav-tabs-wrapper">
                                                    <span class="nav-tabs-title">Idiomas:</span>
                                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                                        <li class="nav-item">
                                                            <a mat-button class="nav-link active" href="#espanol"
                                                                data-toggle="tab">
                                                                <i class="material-icons">sentiment_satisfied</i>
                                                                Español
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a mat-button class="nav-link" href="#ingles"
                                                                data-toggle="tab">
                                                                <i class="material-icons">sentiment_very_satisfied</i>
                                                                English
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="espanol">
                                                    <div class="card-body table-responsive">
                                                        <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Nombre en español"
                                                                    type="text" id="nombreEspanol" name="nombreEspanol"
                                                                    autocomplete="nope"
                                                                    [(ngModel)]="model.idiomas.es.nombre"
                                                                    #nombreEspanol="ngModel"
                                                                    [ngModelOptions]="{standalone: true}">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <textarea matInput
                                                                    placeholder="Descripcion del sitio en español"
                                                                    rows="6" id="descripcionIngles"
                                                                    name="descripcionIngles" autocomplete="nope"
                                                                    [(ngModel)]="model.idiomas.es.descripcion"
                                                                    #descripcionIngles="ngModel"
                                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="ingles">
                                                    <div class="card-body table-responsive">
                                                        <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Name in english"
                                                                    type="text" id="nombreIngles" name="nombreIngles"
                                                                    autocomplete="nope"
                                                                    [(ngModel)]="model.idiomas.en.nombre"
                                                                    #nombreIngles="ngModel"
                                                                    [ngModelOptions]="{standalone: true}">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <textarea matInput
                                                                    placeholder="Site description in english" rows="6"
                                                                    id="descripcionIngles" name="descripcionIngles"
                                                                    autocomplete="nope"
                                                                    [(ngModel)]="model.idiomas.en.descripcion"
                                                                    #descripcionIngles="ngModel"
                                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m12 s12 file-field input-field">
                                    <mat-slide-toggle id="estado" name="estado" [(ngModel)]="model.estado"
                                        #estado="ngModel" [ngModelOptions]="{standalone: true}">
                                        <span *ngIf="model.estado">Activo</span>
                                        <span *ngIf="!model.estado">Inactivo</span>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="guardarSitio()">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/maps.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Ubicar Sitio</h4>
                        <h6 class="card-category text-gray">Digíte la direccion o marque el punto en el mapa, para
                            obtener las coordenadas del punto</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Digíte dirección" type="text" id="buscarSitio"
                                        name="buscarSitio" autocomplete="nope" autocorrect="off" autocapitalize="off"
                                        spellcheck="off" #buscarSitio (keydown.enter)="$event.preventDefault()">
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <agm-map #gm [latitude]="lat" [longitude]="lng" [(zoom)]="zoom"
                                    (mapReady)="mapClicked($event)">
                                    <agm-marker class="mapMarker" [latitude]="lat" [longitude]="lng">
                                    </agm-marker>
                                </agm-map>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Latitud" type="text" id="latitud" name="latitud"
                                        autocomplete="nope" [(ngModel)]="model.punto.latitud" #latitud="ngModel"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Longitud" type="text" id="longitud" name="longitud"
                                        autocomplete="nope" [(ngModel)]="model.punto.longitud" #longitud="ngModel"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Altitud" type="text" id="altitud" name="altitud"
                                        autocomplete="nope" [(ngModel)]="model.punto.altitud" #altitud="ngModel"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>