
<div id="main">

    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s5">
            <div class="container">
                <iframe width="900" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiYmIyYzFhNzUtN2U3NS00M2FkLWE4M2UtYTQzMDMzNmQ3Mzk5IiwidCI6Ijk0NzhlZWMyLThkZjctNDk0OC04MGQzLTc0MGExNmUxZGNjYSJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
            </div>            
        </div>
        <div class="col s1"></div>
        <div class="col s6">            
            <div class="container">
                <iframe width="800" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMzIxNmM5NmUtODY5Yy00N2U2LTlmMmItOGZmZWVmMDY3M2M4IiwidCI6Ijk0NzhlZWMyLThkZjctNDk0OC04MGQzLTc0MGExNmUxZGNjYSJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>        
    </div>
    <br/>
    <div class="row">        
        <div class="col s12">
            <div class="container">
                <iframe width="95%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMDllMmYzY2UtYzNlMS00ZDFjLWIyZGItZDNhNzgxMjE2MDVjIiwidCI6Ijk0NzhlZWMyLThkZjctNDk0OC04MGQzLTc0MGExNmUxZGNjYSJ9" frameborder="0" allowFullScreen="true"></iframe>

            </div>            
        </div>
    </div>    
</div>