<p>mapa works!</p>
<p>{{sitosCercanos.length}}</p>
<!-- <p *ngFor="let sitio of sitosCercanos; let i = index">
  {{sitio | json}}
</p>
 -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">

  <agm-marker #gm  *ngFor="let sitio of sitosCercanos; let i = index" [iconUrl]='sitosCercanos[i].punto.icono'
    [animation]="sitosCercanos[i].punto.animation" [latitude]="sitosCercanos[i].punto.latitud" [longitude]="sitosCercanos[i].punto.longitud"
    (markerClick)="clickedMarker(infoWindow,gm, i)"       
    [markerDraggable]="sitosCercanos[i].punto.draggable"
    (dragEnd)="markerDragEnd(sitosCercanos[i], $event)">
    <agm-info-window  (infoWindowClose)="cerrar()" #infoWindow>  
      <div class="wpgmp_infowindow fc-infowindow-default">
        <div class="wpgmp_iw_content">
          <div class="fc-main">
            <div class="fc-item-title">{{sitosCercanos[i].punto.nombre}} <span
                class="fc-badge info">{{sitosCercanos[i].punto.categoria}}</span></div>
            <div class="fc-item-featured_image"><img [src]="sitosCercanos[i].punto.imagen"> </div>
            <p>{{sitosCercanos[i].punto.descripcion}}</p>
            <address><b>Dirección : </b>{{sitosCercanos[i].punto.direccion}}, {{sitosCercanos[i].punto.telefono}}</address>
            <p><a target="_blank" class="fc-btn fc-btn-small fc-btn-red" [href]="sitosCercanos[i].punto.url">Visitar</a></p>
          </div>
        </div>
      </div>
      <!-- <div>
        <button (click)="editarMarcador( sitio )" mat-raised-button color="primary">Editar</button>
        <button (click)="borrarMarcador(i)" mat-raised-button color="warn">Borrar</button>
      </div> -->

    </agm-info-window>
  </agm-marker>
</agm-map>


<!-- 
<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>
<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
<button (click)="logCenter()">Log center</button>
<button (click)="addMarker()">Add marker</button> -->
<br />
<button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mr-1 mb-2" type="button"
  (click)="obtenerSitioCercanos()">
  {{ 'mapa.estoyAqui' | translate }}
  {{lat}}
  {{lng}}
</button>