<div id="main">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s12">
            <div class="container">

                <!-- app invoice View Page -->
                <div class="invoice-edit-wrapper section">
                    <div class="row">
                        <div class="col xl1 m4 s12"></div>
                        <!-- invoice view page -->
                        <div class="col xl10 m8 s12">
                            <div class="card">
                                <div class="card-content px-36">
                                    <!-- header section -->
                                    <div class="row mb-3">
                                        <div class="col xl4 m12 display-flex align-items-center">
                                            <h6 class="invoice-number mr-4 mb-5">Id</h6>
                                            <input type="text" placeholder="000">
                                        </div>
                                        <div class="col xl8 m12">
                                            <div class="invoice-date-picker display-flex align-items-center">
                                                <div class="display-flex align-items-center">
                                                    <small>Fecha de registro: </small>
                                                    <div class="display-flex ml-4">
                                                        <input type="text" class="datepicker mr-2 mb-1"
                                                            placeholder="Seleccionar fecha">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="Form-advance" class="card card card-default scrollspy">
                                            <div class="card-content">
                                                <h4 class="indigo-text">Generar datos estadísticos</h4>
                                                <form>
                                                    <div class="row ">          
                                                                                         
                                                        <div class="input-field col m3 s12">
                                                            <div class="invoice-date-picker display-flex align-items-center">
                                                                <div class="display-flex align-items-center">
                                                                    <small>Fecha inicial de proceso: </small>
                                                                    <div class="display-flex ml-4">
                                                                        <input type="text" class="datepicker mr-2 mb-1"
                                                                            placeholder="Seleccionar fecha">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="input-field col m3 s12"></div>
                                                        <div class="input-field col m3 s12">
                                                            <div class="invoice-date-picker display-flex align-items-center">
                                                                <div class="display-flex align-items-center">
                                                                    <small>Fecha final de proceso: </small>
                                                                    <div class="display-flex ml-4">
                                                                        <input type="text" class="datepicker mr-2 mb-1"
                                                                            placeholder="Seleccionar fecha">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>    
                                                                          
                                                        <div class="input-field col m3 s12"></div>                                                                                
                                                    </div>
                                                    <div class="row">
                                        
                                                        <div class="input-field m6 s12">
                                                            <button class="btn cyan waves-effect waves-light right"
                                                                type="submit" name="action">Procesar
                                                                <i class="material-icons right">settings</i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- invoice action  -->
                        <div class="col xl1 m4 s12">
                            

                        </div>
                    </div>
                </div><!-- START RIGHT SIDEBAR NAV -->

                <!-- END RIGHT SIDEBAR NAV -->
            </div>
            <div class="content-overlay"></div>
        </div>
    </div>
</div>