<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s12">
            <div class="container">
                <!-- invoice list -->
                <section class="invoice-list-wrapper section">
                    <!-- create invoice button-->
                    <!-- Options and filter dropdown button-->
                    <!--           <div class="invoice-filter-action mr-3">
                            <a href="#" class="btn waves-effect waves-light invoice-export border-round z-depth-4">
                                <i class="material-icons">picture_as_pdf</i>
                                <span class="hide-on-small-only">Export to PDF</span>
                            </a>
                        </div> -->
                    <!-- create invoice button-->
                    <div class="invoice-create-btn">
                        <a href="app-invoice-add.html" [routerLink]="['/crearUsuario',0]"
                            class="btn waves-effect waves-light invoice-create border-round z-depth-4">
                            <i class="material-icons">add</i>
                            <span class="hide-on-small-only">Crear Usuario</span>
                        </a>
                    </div>
                    <div class="filter-btn">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn waves-effect waves-light purple darken-1 border-round' href='#'
                            data-target='btn-filter'>
                            <span class="hide-on-small-only">Filtrar</span>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                        <!-- Dropdown Structure -->
                        <ul id='btn-filter' class='dropdown-content'>
                            <li><a href="#!">Activos</a></li>
                            <li><a href="#!">Inactivos</a></li>
                        </ul>
                    </div>
                    <div class="responsive-table">
                        <table class="table invoice-data-table white border-radius-4 pt-1">
                            <thead>
                                <tr>
                                    <!-- data table responsive icons -->
                                    <th></th>
                                    <!-- data table checkbox -->
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Usuario</th>
                                    <th>Correo Electrónico</th>
                                    <th>Celular</th>
                                    <th>Estado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>

                            <tbody>
                                <ng-container *ngFor="let usuario of usuarios; let i = index">
                                    <tr>

                                        <td></td>
                                        <td>
                                            {{usuario.persona.nombre}}
                                        </td>
                                        <td><small>{{usuario.persona.apellido}}</small></td>
                                        <td><span class="invoice-amount">{{usuario.usuario}}</span></td>

                                        <td><span class="invoice-customer">{{usuario.persona.correoElectronico}}</span></td>
                                        <td>
                                            <small>{{usuario.persona.telefonoCelular}}</small>
                                        </td>
                                        <td><span class="chip lighten-5 green green-text">Activo</span></td>
                                        <td>
                                            <div class="invoice-action">
                                                <a href="app-invoice-view.html" class="invoice-action-view mr-4">
                                                    <i class="material-icons">remove_red_eye</i>
                                                </a>
                                                <a href="app-invoice-edit.html" class="invoice-action-edit">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </section><!-- START RIGHT SIDEBAR NAV -->

                <!-- END RIGHT SIDEBAR NAV -->
            </div>
            <div class="content-overlay"></div>
        </div>
    </div>
</div>
<!-- END: Page Main-->